<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h5 class="mt-5 text-center">TreeGrid Demo</h5>

			<div class="mt-5">
				<!-- <div style="text-align: end;">
					<button id='add' class="btn btn mb-2 flot-right" style="background: #80808087;"
						(click)='onClick()'>Add New Column</button>
				</div> [enableInfiniteScrolling]='true' [sortSettings]="sortSettings"-->
				<!-- <div class="grid-freezecol">
                    <ejs-dropdownlist id='direction' #directiondropdown index='0' [dataSource]='directionData'
                        (change)='directionChange($event)' [fields]='fields'></ejs-dropdownlist>
                </div> -->
				<!-- (rowDataBound)='rowDataBound($event)' -->
				<ejs-treegrid #treeGridObj #grid [dataSource]="data" (toolbarClick)='toolbarClick($event)'
					[toolbar]='toolbarOption' [allowSelection]='true' [treeColumnIndex]="1" [allowFiltering]="true"
					[allowSorting]="true" [enableHover]='true' childMapping="subtasks" [pageSettings]="pageSettings"
					[filterSettings]="filterSettings" [showColumnChooser]='true' [allowReordering]='true'
					[selectionSettings]='selectionOptions' [allowRowDragAndDrop]='true' [allowResizing]='true'
					[contextMenuItems]='contextMenuItems' [editSettings]='editSettings' height='350'
					(contextMenuClick)='contextMenuClick($event)' (contextMenuOpen)='contextMenuOpen($event)'
					(queryCellInfo)='customizeCell($event)' (rowSelected)='rowSelected($event)'
					(rowDeselected)='rowDeselected($event)' (actionComplete)="sort($event)">
					<e-columns>
						<e-column field='taskID' isPrimaryKey=true headerText='Task ID' width='90' textAlign='Right'>
						</e-column>
						<e-column field='taskName' headerText='Task Name' width=350>
						</e-column>
						<e-column field='startDate' headerText='Start Date' width='350' format="yMd" textAlign='Right'>
						</e-column>
						<e-column field='duration' headerText='Duration' width='350' textAlign='Right'>
						</e-column>
						<!-- [filterBarTemplate]="templateOptions" -->
					</e-columns>
				</ejs-treegrid>
			</div>
		</div>
	</div>
</div>

<!-- Frozen Column -->


<div class="modal fade" id="frozenColumn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Multi Sorting
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<div class="property-panel-section">
						<div class="grid-freezeprop">
							<div class="grid-freezecol">
								<div class="grid-freezecol">
									<span>
										Column
									</span>
								</div>
								<div class="grid-freezecol">
									<ejs-dropdownlist id='column' #columndropdown index='3' [dataSource]='columnData'
										(change)='columnChange($event)' [fields]='fieldsFroz'></ejs-dropdownlist>
								</div>
							</div>
							<div class="grid-freezecol">
								<div class="grid-freezecol">
									<span>
										Freeze Direction
									</span>
								</div>
								<div class="grid-freezecol">
									<ejs-dropdownlist id='direction' #directiondropdown index='0'
										[dataSource]='directionData' (change)='directionChange($event)'
										[fields]='fieldsFroz'></ejs-dropdownlist>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- e-control e-dialog e-lib e-edit-dialog e-draggable e-dlg-modal e-popup e-popup-open -->
<!-- Add New Record Modal-->

<!-- <div #container class='root-container'></div> -->
<ejs-dialog id='dialog' #template showCloseIcon='true' [height]='height' width='435px' [visible]='false'>
	<ng-template #footerTemplate>
		<button type="submit" class="e-flat e-btn e-primary" (click)="saveNewRecord()">
			Save
		</button>
		<button type="submit" class="e-flat e-btn" (click)="hideAddTaskModal()">
			Cancle
		</button>
	</ng-template>
	<ng-template #content>
		<div class="dialogContent">
			<div class="mb-1" *ngFor="let col of columns">
				<label class="e-label">{{col.headerText}}</label>
				<input type="{{col.type}}" class="e-input" [(ngModel)]="newRecord[col.field]" name="{{col.field}}">
			</div>
		</div>
	</ng-template>
	<ng-template #header>
		Add New Record
	</ng-template>
</ejs-dialog>

<!-- Custom Delete Dialog -->

<ejs-dialog #deletetemplate [height]='height' width='350px' [visible]='false'>
	<ng-template #footerTemplate>
		<button type="submit" class="e-flat e-btn e-primary" (click)="deleteSelectedRecord()">
			Ok
		</button>
		<button type="submit" class="e-flat e-btn" (click)="cancleDeletePopup()">
			Cancle
		</button>
	</ng-template>
	<ng-template #content>
		<div class="dialogContent">
			Are you sure you want to Delete Record?
		</div>
	</ng-template>
</ejs-dialog>


<!-- Add New Column -->

<ejs-dialog #addTemplate showCloseIcon='true' [animationSettings]='animationSettings' [height]='height' width='450px'
	[visible]='false'>
	<ng-template #footerTemplate>
		<button type="submit" class="e-flat e-btn e-primary" (click)="AddColumn()">
			Save
		</button>
		<button type="submit" class="e-flat e-btn" (click)="addDialgHide()">
			Cancle
		</button>
	</ng-template>
	<ng-template #content>
		<div class="dialogContent">
			<div class="mb-1">
				<label class="e-label">Column Name</label>
				<input type="text" class="e-input" [(ngModel)]="columnName" name="columnName">
			</div>
		</div>
	</ng-template>
	<ng-template #header>
		Add New Column
	</ng-template>
</ejs-dialog>



<!-- Delete Column Modal -->

<ejs-dialog #deleteColumntemplate showCloseIcon='true' [animationSettings]='animationSettings' [height]='height'
	width='450px' [visible]='false'>
	<ng-template #footerTemplate>
		<button type="submit" class="e-flat e-btn e-primary" (click)="deleteColumn()">
			Delete
		</button>
		<button type="submit" class="e-flat e-btn" (click)="addDialgHide('deleteColumn')">
			Cancle
		</button>
	</ng-template>
	<ng-template #content>
		<div class="dialogContent">
			<div class="mb-1">
				<label for="exampleFormControlInput1" class="form-label">
					Are you sure you want to delete this column
					<strong>
						{{treeGridobject.deleteHeaderName}}
					</strong>
				</label>
			</div>
		</div>
	</ng-template>
	<ng-template #header>
		Delete Column
	</ng-template>
</ejs-dialog>


<!-- Filter Column -->

<ejs-dialog #filterColumntemplate showCloseIcon='true' [animationSettings]='animationSettings' [height]='height'
	width='450px' [visible]='false'>
	<ng-template #content>
		<div class="dialogContent">
			<div class="mb-1 text-center">
				<h6>
					Hierarchy Mode
				</h6>
				<ejs-dropdownlist #dropdown1 id='mode' width='100px' [dataSource]='d1data' [fields]='fields1'
					value='Parent' (change)="change($event)">
				</ejs-dropdownlist>
			</div>
		</div>
	</ng-template>
	<ng-template #header>
		Filter Columns
	</ng-template>
</ejs-dialog>



<!-- Multi sorting -->

<ejs-dialog #multisortingtemplate showCloseIcon='true' [animationSettings]='animationSettings' [height]='height'
	width='450px' [visible]='false'>
	<ng-template #content>
		<div class="dialogContent">
			<div class="property-panel-section">
				<table id="property" class="property-panel-table" title="Properties" style="width: 100%">
					<tr>
						<td style="width: 70%">
							<div>
								Task Id
							</div>
						</td>
						<td style="width: 30%;padding:10px 10px 10px 0px">
							<div class="col-md-6">
								<ejs-checkbox #taskID (change)="onClick1($event)">
								</ejs-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width: 70%">
							<div>
								Task Name
							</div>
						</td>
						<td style="width: 30%;padding:10px 10px 10px 0px">
							<div class="col-md-6">
								<ejs-checkbox #taskName (change)="onClick2($event)">
								</ejs-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width: 70%">
							<div>
								Start Date
							</div>
						</td>
						<td style="width: 30%; padding:10px 10px 10px 0px">
							<div class="col-md-6">
								<ejs-checkbox #startDate (change)="onClick3($event)"></ejs-checkbox>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width: 70%">
							<div>
								Duration
							</div>
						</td>
						<td style="width: 30%; padding:10px 10px 10px 0px">
							<div class="col-md-6">
								<ejs-checkbox #duration (change)="onClick4($event)"></ejs-checkbox>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</ng-template>
	<ng-template #header>
		Multi Sorting
	</ng-template>
</ejs-dialog>


<!-- Edit Columns -->

<ejs-dialog #editcolumntemplate showCloseIcon='true' [animationSettings]='animationSettings' [height]='height'
	width='450px' [visible]='false'>
	<ng-template #footerTemplate>
		<button type="submit" class="e-flat e-btn e-primary" (click)="click()">
			Save
		</button>
		<button type="submit" class="e-flat e-btn" (click)="addDialgHide('editColumn')">
			Cancle
		</button>
	</ng-template>
	<ng-template #content>
		<div class="dialogContent">
			<div class="mb-1">
				<div class="mb-3">
					<label>
						Header Text
					</label>
					<input type="text" class="e-input" [(ngModel)]="changeHeader" name="changeHeader">
				</div>
				<table id="property" class="property-panel-table" title="Properties" style="width: 100%">
					<tr>
						<td style="width: 50%">
							<div>
								Data-Type
							</div>
						</td>
						<td style="width: 50%;padding: 10px 10px 10px 0px">
							<div>
								<ejs-dropdownlist #dropdown4 id='element' width='120px' [dataSource]='d4data'
									[fields]='fields' value='Right' (change)="changeDatatype($event)">
								</ejs-dropdownlist>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width: 50%">
							<div>
								Column Alignment
							</div>
						</td>
						<td style="width: 50%;padding: 10px 10px 10px 0px">
							<div>
								<ejs-dropdownlist #dropdown3 id='element' width='120px' [dataSource]='d3data'
									[fields]='fields' value='Right' (change)="changeAlignment($event)">
								</ejs-dropdownlist>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width: 50%">
							<label for="exampleColorInput" class="form-label">
								Column Background Color
							</label>
						</td>
						<td style="width: 50%;padding: 10px 10px 10px 0px">
							<div>
								<input type="color" [(ngModel)]="treeGridobject.columnColor"
									class="form-control form-control-color" value="#563d7c">
							</div>
						</td>

					</tr>
					<tr>
						<td style="width: 50%">
							<label for="ColorInputText" class="form-label">
								Column Text Color
							</label>
						</td>
						<td style="width: 50%;padding: 10px 10px 10px 0px">
							<div>
								<input type="color" [(ngModel)]="treeGridobject.columnColorText" value="#563d7c"
									class="form-control form-control-color">
							</div>
						</td>

					</tr>
					<tr>
						<td style="width: 50%">
							<label for="ColorInputText" class="form-label">
								Font-size in px
							</label>
						</td>
						<td style="width: 50%;padding: 10px 10px 10px 0px">
							<input type="number" [(ngModel)]="treeGridobject.columnColorFontSize" class="e-input">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</ng-template>
	<ng-template #header>
		Edit Column
	</ng-template>
</ejs-dialog>