@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";
/* You can add global styles to this file, and also import other style files */
/* .e-headertext {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
} */
/* .csss {
  background-color: red !important;
  text-align: center;
} */
.span.e-menu-icon.e-icons.e-edit {
  color: white !important;
}
.copyrow {
  color: red !important;
}
.e-right:before {
  content: "\e7ff";
}
#copyRowBackGround {
  background-color: #e3165ab9 !important;
  border-style: dotted !important;
}

#copyRowBackGroundCut {
  background: linear-gradient(90deg, #e3165ab9 50%, transparent 50%),
    linear-gradient(90deg, #e3165ab9 50%, transparent 50%),
    linear-gradient(90deg, #e3165ab9 50%, transparent 50%),
    linear-gradient(0deg, #e3165ab9 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 9px 2px, 9px 2px, 1px 15px, 0px 15px;
  animation: border-dance 5s infinite linear;
  /* height: 118px;  */
}

@keyframes border-dance {
  0% {
    background-position: 0px 3px, 300px 32px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 3px, 0px 32px, 0px 0px, 216px 150px;
  }
}

#cutRowBorder {
  border-style: dashed !important;
}
.e-treegrid td.e-active {
  background-color: #e3165a1a !important;
  border-style: dotted !important;
}

/* .e-treegrid .e-rowcell.customcss {
  background-color: #ecedee;
  font-family: "Bell MT";
  color: "red";
  font-size: "20px";
}

.e-treegrid .e-headercell.customcss {
  background-color: #2382c3;
  color: white;
  font-family: "Bell MT";
  font-size: "20px";
} */
